.Shipment-css {
    width: 30%;
    margin: 20px 100px;
}

.Shipment-css input {
    display: block;
    padding: 10px;
    width: 94%;
    margin-top: 20px;
}

.Shipment-css input[type='submit'] {
    width: 30%;
    margin: 20 auto;
}

.error {
    color: red;
}